<nav class="navbar">
    <div class="main-container">
        <div class="logo">
            <h2><span class="name">Suhas</span> Weather</h2>
        </div>
        <ul class="navLinks ">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/weather">Weather</a></li>
        </ul>
        <div class="burger">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>